@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background: linear-gradient(#13181d, #20212e, #4169E1);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header nav {
    padding: 30px 5% 0px 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

header nav h1 {
    margin: 0;
    color: #4169E1;
}

header nav .droite {
    display: flex;
    align-items: center;
    margin-left: auto;
}

header nav .droite p {
    margin: 0 15px 0 0;
    color: #4169E1;
}

header nav .right p:hover {
	color: white;
	cursor: pointer;
}

header nav .droite button {
    padding: 8px 20px;
    font-size: 16px;
    background-color: inherit;
    border: 1px solid #4169E1;
    border-radius: 5px;
    color: #4169E1;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    margin: 10px;
}

header nav .droite button:hover {
    color: inherit;
    background-color: #4169E1;
}

.sidebarOuvert{
    display: none;
}

@media (max-width: 450px) {
    header nav .menu{
        display: none;
    }
    
    header nav .droite p {
        display: none;
    }

    header nav .droite button {
        display: none;
    }

    .sidebar {
        width: 50px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
    }

    .sidebar div {
        width: 40px;
        height: 4px;
        background-color: #4169E1;
        margin: 5px 0;
        transition: 0.3s;
        position: relative;
    }

    .sidebar.open div:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .sidebar.open div:nth-child(2) {
        display: none;
    }

    .sidebar.open div:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .sidebarOuvert {
        position: fixed;
        top: 0;
        right: -250px;
        width: 200px;
        height: 100%;
        background-color: #13181d;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 20px;
        transition: right 0.3s ease-in-out;
        z-index: 1;
    }

    .sidebarOuvert.open {
        right: 0;
        align-items: center;
        padding-top: 50%;
    }

    .sidebarOuvert  p {
        padding: 10%;
        text-decoration: none;
        font-size: 20px;
        cursor: pointer;
    }

    .sidebarOuvert button {
        padding: 8px 20px;
        font-size: 20px;
        background-color: inherit;
        border: 1px solid #4169E1;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        margin: 10px;
        transition: color 0.5s, background-color 0.5s;
    }

    .sidebarOuvert button:hover {
        color: inherit;
        background-color: #4169E1;
    }
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#13181d, #20212e, #4169E1);
}

.section .connexionInscription {
    border: 1px solid #4169E1;
    border-radius: 5px;
    background-color: #4169E1;
    padding: 20px;
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section .connexionInscription .choix {
    display: flex;
    justify-content: center;
    width: 100%;
    color:white;
}

.connexionInscription h1{
    margin: 30px;
    cursor: pointer;
    color:white;
}

.connexionInscription h2{
    text-align: center;
    color: white;
    font-size: 20px;
}

.section .connexionInscription form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section .connexionInscription label{
    margin: 15px 0;
    font-size: 20px;
    color:white
}

.section .connexionInscription input{
    padding: 5px;
    font-size: 16px;
    border: 1px solid #4169E1;
    border-radius: 5px;
    width:100%;
    margin: 5px;
    box-shadow: inset 0 0 5px #4169E1;
}

.section .connexionInscription button{
    padding: 10px 20px;
    font-size: 20px;
    background-color: white;
    color: #4169E1;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: color 0.5s, background-color 0.5s;


}



.open {
    display: flex; 
}

.connexion, .inscription {
    display: none;
}

.choixConnexion{
    border-bottom: 4px solid white;
}

footer {
    margin: 0;
    padding: 20px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer h3 {
    color: #4169E1;
}
footer p {
    cursor: pointer;
    color: #ccc;
}
footer p:hover {
    color: white;
}

/*Responsive*/
@media (max-width: 450px) {
    header nav p {
        display: none;
    }

    .section {
        flex-direction: column;
        text-align: center;
    }

    .section .connexionInscription {
        width: 80%;
    }

    footer {
        flex-direction: column;       
        text-align: center;
    }
}