@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

header {
    background: linear-gradient(#13181d, #20212e, #4169E1);
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

header nav h1 {
    margin: 0;
    color: #4169E1;
    text-transform: uppercase;
}

header nav .droite {
    display: flex;
}

header nav .droite p {
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    gap: 10px;
}

header nav .droite button {
    padding: 8px 20px;
    font-size: 18px;
    background-color: inherit;
    border: 1px solid #4169E1;
    border-radius: 5px;
    color: #4169E1;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
}

header nav .droite button:hover {
    color: inherit;
    background-color: #4169E1;
}

.presentation1 {
    padding: 30px 5%;
    margin-top: 5%;
    display: flex;
}

.presentation1 .gauche {
    width: 100%;
}

.presentation1 .gauche h1 {
    margin: 0;
    font-size: 4vw;
    width: 100%;
}

.presentation1 .gauche button {
    background-color: #4169E1;
    color: inherit;
    padding: 18px 20px;
    font-size: 18px;
    border: 1px solid #4169E1;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    margin: 20px auto; 
}

.presentation1 .gauche button:hover {
    background-color: inherit;
    color: #4169E1;
}

.presentation1 .grandeImage {
    width: 100%; 
}

.presentation1 .grandeImage img {
    width: 90%;
    max-width: 600px;
}

.presentation1 .gauche .petiteImage {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.presentation1 .gauche .petiteImage .petite {
    padding: 15px;
    background-color: #33314d;
    margin: 10px; 
    border-radius: 20px;
    transition: filter 0.5s;
}

.presentation1 .gauche .petiteImage .petite:hover {
    filter: brightness(50%);
}

.presentation1 .gauche .petiteImage .petite img {
    width: 80px; 
}

.presentation2 {
    padding: 30px 5%;
    display: flex;
    background: #20212e;
}

.presentation2 .produit {
    max-width: 90%; 
}

.presentation2 .produit .nouveauProduit {
    color: #4169E1;
    font-size: 16px;
}

.presentation2 .produit h1 {
    margin: 0;
    font-size: 4vw;
}

.presentation2 .produit button {
    background-color: inherit;
    color: #4169E1;
    padding: 18px 20px; 
    font-size: 18px;
    border: 1px solid #4169E1;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    margin-top: 20px;
}

.presentation2 .produit button:hover {
    color: inherit;
    background-color: #4169E1;
}

footer {
    margin: 0;
    padding: 20px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer h3 {
    color: #4169E1;
}
footer p {
    cursor: pointer;
    color: #ccc;
}
footer p:hover {
    color: white;
}


@media (max-width: 450px) {
    header nav p {
        display: none;
    }

    .presentation1 {
        flex-direction: column;
        text-align: center;
       
    }

    .presentation1 .grandeImage img {
        scale: 0.9;
        width: 80%; 
    }

    .presentation1 .gauche h1 {
        justify-content: center;
        font-size: 5vw;
    }

    .presentation1 .gauche .petiteImage {
        justify-content: center;
        flex-direction: row;
    }

    .presentation1 .gauche button {
        justify-content: center;
    }

    .presentation2 {
        flex-direction: column;
        text-align: center;
    }

    .presentation2 .produit {
        width: 100%; 
    }

    .presentation2 .produit h1 {
        font-size: 6vw;
    }

    .presentation1 .gauche .petiteImage .petite img {
        width: 60px; 
    }

    .grandeImage img {
        width: 100%; 
    }

    footer {
        flex-direction: column;       
        text-align: center;
    }
}