@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-top: 30px;
}

header {
    background: linear-gradient(#13181d, #20212e, #4169E1);
}

header nav {
    padding: 30px 5% 0px 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 90%; 
    background-color: white; 
    background: #13181d;
}

header nav h1 {
    margin: 0;
    color: #4169E1;
    text-decoration: none;
}

header nav .droite {
    display: flex;
    align-items: center;
    margin-left:auto;
}

header nav .droite p {
    margin: 0 15px 0 0;
    color: #4169E1;
    cursor: pointer;
}

header nav .right p:hover {
	color: white;
	cursor: pointer;
}

header nav .droite button {
    padding: 8px 20px;
    font-size: 16px;
    background-color: inherit;
    border: 1px solid #4169E1;
    border-radius: 5px;
    color: #4169E1;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    margin: 10px;
}

header nav .droite button:hover {
    color: inherit;
    background-color: #4169E1;
}

.sidebarOuvert{
    display: none;
}

@media (max-width: 450px) {
    header nav .menu{
        display: none;
    }


    header nav .droite p {
        display: none;
        cursor: pointer;
    }

    header nav .droite button {
        display: none;
    }

    .sidebar {
        width: 50px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
    }

    .sidebar div {
        width: 40px;
        height: 4px;
        background-color: #4169E1;
        margin: 5px 0;
        transition: 0.3s;
        position: relative;
    }

    .sidebar.open div:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .sidebar.open div:nth-child(2) {
        display: none;
    }

    .sidebar.open div:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

    .sidebarOuvert {
        position: fixed;
        top: 0;
        right: -250px;
        width: 200px;
        height: 100%;
        background-color: #13181d;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 20px;
        transition: right 0.3s ease-in-out;
        z-index: 1;
    }

    .sidebarOuvert.open {
        right: 0;
        align-items: center;
        padding-top: 50%;
    }

    .sidebarOuvert  p {
        padding: 10%;
        text-decoration: none;
        font-size: 20px;
        cursor: pointer;
    }

    .sidebarOuvert button {
        padding: 8px 20px;
        font-size: 20px;
        background-color: inherit;
        border: 1px solid #4169E1;
        border-radius: 5px;
        color: #4169E1;
        cursor: pointer;
        margin: 10px;
        transition: color 0.5s, background-color 0.5s;

    }

    .sidebarOuvert button:hover {
        color: inherit;
        background-color: #4169E1;
    }
}
.presentation1 {
    padding: 30px 5%;
    margin-top: 55px;
    display: flex;
}

.presentation1 .gauche {
    width: 100%;
}

.presentation1 .gauche h1 {
    font-size: 4vw;
    width: 100%;
}

.presentation1 .gauche button {
    background-color: #4169E1;
    color: inherit;
    padding: 18px 20px;
    font-size: 18px;
    border: 1px solid #4169E1;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    margin: 20px auto; 

}

.presentation1 .gauche button:hover {
    background-color: inherit;
    color: #4169E1;
}

.presentation1 .grandeImage {
    width: 100%; 
}

.presentation1 .grandeImage img {
    width: 90%;
    max-width: 600px;
}

.presentation1 .gauche .petiteImage {
    margin-top: 30px;
    display: flex;
}

.presentation1 .gauche .petiteImage .petite {
    padding: 15px;
    background-color: #33314d;
    margin: 10px; 
    border-radius: 20px;
    transition: filter 0.5s;
}

.presentation1 .gauche .petiteImage .petite:hover {
    filter: brightness(40%);
}

.presentation1 .gauche .petiteImage .petite img {
    width: 80px; 
}

.presentation2 {
    padding: 30px 5%;
    display: flex;
    background: #20212e;
}

.presentation2 .produit {
    max-width: 90%; 
}

.presentation2 .produit .nouveauProduit {
    color: #4169E1;
    font-size: 16px;
}

.presentation2 .produit h1 {
    margin: 0;
    font-size: 4vw;
}

.presentation2 .produit button {
    background-color: inherit;
    color: #4169E1;
    padding: 18px 20px; 
    font-size: 18px;
    border: 1px solid #4169E1;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    margin-top: 20px;
}

.presentation2 .produit button:hover {
    color: inherit;
    background-color: #4169E1;
}

footer {
    margin: 0;
    padding: 20px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer h3 {
    color: #4169E1;
}
footer p {
    cursor: pointer;
    color: #ccc;
}
footer p:hover {
    color: white;
}

/*Responsive*/
@media (max-width: 450px) {
    header nav p {
        display: none;
    }

    .presentation1 {
        flex-direction: column;
        text-align: center;
       margin-top: 5%;
    }

    .presentation1 .grandeImage img {
        scale: 0.9;
        width: 80%; 
    }

    .presentation1 .gauche h1 {
        justify-content: center;
        font-size: 5vw;
    }

    .presentation1 .gauche .petiteImage {
        flex-direction: row;
        justify-content: center;
    }

    .presentation1 .gauche button {
        justify-content: center;
    }

    .presentation2 {
        flex-direction: column;
        text-align: center;
    }

    .presentation2 .produit {
        width: 100%; 
    }

    .presentation2 .produit h1 {
        font-size: 6vw;
    }

    .presentation1 .gauche .petiteImage .petite img {
        width: 60px; 
    }

    .grandeImage img {
        width: 100%; 
    }

    footer {
        flex-direction: column;       
        text-align: center;
    }
}